<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> Online Car Service </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="assets/css/vendor.css">
        <!-- Theme initialization -->
        <link rel="stylesheet" href="assets/css/app-red.css">
        <script src="assets/js/vendor.js"></script>
        <script type="text/javascript">
            $.ajax({
				type: 'get',
				url: '/api/validate-session',
				success: function(user) {
					if (user) {
                        $('#profile-name').text(user.name);
                        if (!user.isAdmin) {
                            $('[class*="menu--"]').remove();
                            $('#change-status').remove();
                        } else {
                            $('[class*="customer--"]').remove();
                            $('#status').remove();
                        }
						$('body').removeClass('d-none');
                        $('#customer-id').val(user.id);
					} else {
						window.location.replace('/login.html');
					}
				}
			});

            $(document).ready(function() {
                var url_string = window.location.href;
                var url = new URL(url_string);
                var orderId = url.searchParams.get('id');
                $.ajax({
                    type: 'get',
                    url: '/api/orders/get',
                    data: {
                        id: orderId
                    },
                    success: function(order) {
                        var date = new Date(order[0].date);
                        var Ddate = new Date(order[0].date);
                        Ddate.setDate(Ddate.getDate() + 3);
                        $('#date').val(date.getDate() + '/' + (date.getMonth()+1) + '/' + date.getFullYear());
                        $('#d-date').val(Ddate.getDate() + '/' + (Ddate.getMonth()+1) + '/' + Ddate.getFullYear());
                        $('#car-year').val(order[0].carYear);
                        $('#car-make').val(order[0].carMake);
                        $('#car-model').val(order[0].carModel);
                        $('#status').val(order[0].status);
                        $('#change-status').val(order[0].status);

                        var totalCharges = 0;

                        for (var i = 0; i < order[0].services.length; i++) {
                            $.ajax({
                                type: 'get',
                                url: '/api/services/get',
                                data: {
                                    id: order[0].services[i]
                                },
                                success: function(service) {
                                    var selectedServices = '<tr>\
                                                            <td>'+ service[0].serviceName +'</td>\
                                                            <td style="text-align: right;">'+ service[0].price +'</td>\
                                                        </tr>';
                                    totalCharges += service[0].price;
                                    $('#service-estimates').append(selectedServices);
                                    $('#totalCharges').text(totalCharges);
                                }
                            });
                        }
                    }
                });
                $('#change-status').change(function() {
                    $.ajax({
                        type: 'put',
                        url: '/api/orders/update?id=' + orderId,
                        data: {
                            status: $(this).val()
                        },
                        success: function(response) {
                            $('<div class="alert alert-success">'+ response +'</div>').hide().insertBefore('.item-editor-page > .title-block:first-child').slideDown('500', function() {
                                setTimeout(function(){
                                    $('.alert').slideUp(500, function(){ $(this).remove(); });
                                }, 5000);
                            });
                        }
                    });
                });
            });
        </script>
    </head>
    <body class="d-none">
        <div class="main-wrapper">
            <div class="app header-fixed sidebar-fixed" id="app">
                <header class="header">
                    <div class="header-block header-block-collapse d-lg-none d-xl-none">
                        <button class="collapse-btn" id="sidebar-collapse-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <div class="header-block header-block-nav">
                        <ul class="nav-profile">
                            <li class="profile dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <div class="img" style="background-image: url('https://avatars3.githubusercontent.com/u/3959008?v=3&s=40')"> </div>
                                    <span class="name" id="profile-name"></span>
                                </a>
                                <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" id="logout" href="#">
                                        <i class="fa fa-power-off icon"></i> Logout </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </header>
                <aside class="sidebar">
                    <div class="sidebar-container">
                        <div class="sidebar-header">
                            <div class="brand">
                                <div class="logo">
                                    <span class="l l1"></span>
                                    <span class="l l2"></span>
                                    <span class="l l3"></span>
                                    <span class="l l4"></span>
                                    <span class="l l5"></span>
                                </div> Car Service </div>
                        </div>
                        <nav class="menu">
                            <ul class="sidebar-menu metismenu" id="sidebar-menu">
                                <li class="active">
                                    <a href="index.html">
                                        <i class="fa fa-home"></i> Dashboard </a>
                                </li>
                                <li class="menu--customers">
                                    <a href="">
                                        <i class="fa fa-th-large"></i> Customers 
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
                                        <li>
                                            <a href="customers-list.html"> Customers List </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu--services">
                                    <a href="">
                                        <i class="fa fa-th-large"></i> Services 
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
                                        <li>
                                            <a href="services-list.html"> Services List </a>
                                        </li>
                                        <li>
                                            <a href="services-editor.html"> Add Service </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-th-large"></i> Orders 
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
                                        <li>
                                            <a href="orders-list.html"> Orders List </a>
                                        </li>
                                        <li class="customer--order">
                                            <a href="new-order.html"> New Order </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </aside>
                <div class="sidebar-overlay" id="sidebar-overlay"></div>
                <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
                <div class="mobile-menu-handle"></div>
                <article class="content item-editor-page">
                    <div class="title-block">
                        <h3 class="title"> <span> Order Details </span>
                            <span class="sparkline bar" data-type="bar"></span>
                        </h3>
                    </div>
                    <form name="item">
                        <div class="card card-block">
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label text-xs-right"> Order Date </label>
                                <div class="col-sm-9">
                                    <input type="text" name="" id="date" readonly="" class="form-control boxed">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label text-xs-right"> Delivery Date </label>
                                <div class="col-sm-9">
                                    <input type="text" name="" id="d-date" readonly="" class="form-control boxed">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label text-xs-right"> Status </label>
                                <div class="col-sm-9">
                                    <input type="text" name="" id="status" readonly="" class="form-control boxed" style="text-transform: capitalize;">
                                    <select id="change-status" class="form-control boxed">
                                        <option value="pending">Pending</option>
                                        <option value="in progress">In Progress</option>
                                        <option value="complete">Complete</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="title-block">
                                <h3 class="title"> Registered Car </h3>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label text-xs-right"> Year </label>
                                <div class="col-sm-9">
                                    <input type="text" name="" id="car-year" readonly="" class="form-control boxed">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label text-xs-right"> Make </label>
                                <div class="col-sm-9">
                                    <input type="text" name="" id="car-make" readonly="" class="form-control boxed">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label text-xs-right"> Model </label>
                                <div class="col-sm-9">
                                    <input type="text" name="" id="car-model" readonly="" class="form-control boxed">
                                </div>
                            </div>
                            <hr>
                            <div class="title-block">
                                <h3 class="title"> Selected Services &amp; Charges </h3>
                            </div>
                            <table class="table" style="width: 25%">
                                <tbody id="service-estimates"></tbody>
                                <tbody>
                                    <tr>
                                        <td>Total</td>
                                        <td style="text-align: right;" id="totalCharges"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <div class="form-group row">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <input type="hidden" name="" id="customer-id">
                                    <button type="button" class="btn btn-primary" id="order-btn"> Order </button>
                                </div>
                            </div> -->
                        </div>
                    </form>
                </article>
                <div class="modal fade" id="modal-media">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Media Library</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                            </div>
                            <div class="modal-body modal-tab-container">
                                <ul class="nav nav-tabs modal-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a>
                                    </li>
                                </ul>
                                <div class="tab-content modal-tab-content">
                                    <div class="tab-pane fade" id="gallery" role="tabpanel">
                                        <div class="images-container">
                                            <div class="row"> </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade active in" id="upload" role="tabpanel">
                                        <div class="upload-container">
                                            <div id="dropzone">
                                                <form action="/" method="POST" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="demo-upload">
                                                    <div class="dz-message-block">
                                                        <div class="dz-message needsclick"> Drop files here or click to upload. </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Insert Selected</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <div class="modal fade" id="confirm-modal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    <i class="fa fa-warning"></i> Alert</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure want to do this?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
        <!-- Reference block for JS -->
        <div class="ref" id="ref">
            <div class="color-primary"></div>
            <div class="chart">
                <div class="color-primary"></div>
                <div class="color-secondary"></div>
            </div>
        </div>
        <script src="assets/js/app.js"></script>
    </body>
</html>